<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>Syntax highlighting for the COBOL programming language</string>
	<key>name</key>
	<string>cobol</string>
	<key>uuid</key>
	<string>2212A4DF-04AC-4F1A-8B43-DE33B317C426</string>
</dict>
</plist>
